body {
    background-color: rgb(255, 255, 165);
    text-align: center;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-tecnologia-azul-geometrico-degradado_52683-78527.jpg");
    background-size:contain ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.image{
    border: 5px solid white;
    border-radius: 5px;
    height: 400px;
    align-items: center;
}

.link-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 90rem;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

p{
font-size: medium;
font-family: Verdana,sans-serif;
font-style: italic;
text-align: center;
}

header {
    font-size: large;
    font-family: Verdana,sans-serif;
    font-style:normal;
    text-align: center;
}

.link-button:hover {
    transform: scale(.5);
}
