body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

p{

font-size: medium;
font-family: Verdana,sans-serif;
font-style: italic;
text-align: center;
}

header {
    font-size: large;
    font-family: Verdana,sans-serif;
    font-style:normal;
    text-align: center;

}
